* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto";
}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	margin: 50px 0px 30px 0;
	text-align: center;
	font-size: 40px;
}

header p {
	font-size: 20px;
	text-align: center;
}

.pads {
	background: lightblue;
	width: 100%;
	display: flex;
}

.pads > div {
	height: 100px;
	width: 100px;
	flex: 1;
	cursor: pointer;
	transition: all 0.4s ease-in;
}

.pad1 {
	background: #60d393;
}

.pad1:hover {
	background: #76d3a0;
}
.pad2 {
	background: #d36060;
}
.pad2:hover {
	background: #d47878;
}
.pad3 {
	background: #c060d3;
}
.pad3:hover {
	background: #bd78ca;
}
.pad4 {
	background: #d3d160;
}
.pad4:hover {
	background: #d4d37f;
}
.pad5 {
	background: #6860d3;
}
.pad5:hover {
	background: #8681cf;
}
.pad6 {
	background: #160d94;
}
.pad6:hover {
	background: #3a3496;
}

.visual > div {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	bottom: 0%;
	left: 20%;
	z-index: -1;
}

@keyframes jump {
	0% {
		bottom: 0%;
		left: 20%;
	}
	50% {
		bottom: 50%;
		left: 50%;
	}
	100% {
		bottom: 0%;
		left: 80%;
	}
}
